/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

div.card-header {
 font-size: large;
}

div.card {
  margin-top: 10px
}

.table {
  margin-top: 10px
}

.redborder{border:solid 2px red}
.blueborder{border:solid 2px blue}
.greenborder{border:solid 2px green}
.orangeborder{border:solid 2px orange}

.redborderRouter{border:solid 6px red}
.greenborderRouter{border:solid 6px green}
.blueborderRouter{border:solid 6px blue}

.redborderRouterDashed{border:dashed 6px red}

.red{background-color: red}
.blue{background-color: blue}
.green{background-color: green}
.yellow{background-color: yellow}
.teal{background-color: teal}
.pink{background-color: pink}
.orange{background-color: a}